include:
  - project: 'gnome/citemplates'
    file: 'flatpak/flatpak_ci_initiative.yml'

stages:
    - test
    - docs
    - deploy

variables:
    FEDORA_DEPS:
        meson vala gtk4-devel ninja-build pkgconf clang gobject-introspection-devel vulkan-headers gi-docgen
    FEDORA_IMAGE: "registry.gitlab.gnome.org/gnome/gtk/fedora:v35"

flatpak:
    image: 'registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master'
    variables:
        BUNDLE: "gtksourceview-test-widget-dev.flatpak"
        MANIFEST_PATH: "org.gnome.GtkSourceView.TestWidget.json"
        FLATPAK_MODULE: "gtksourceview"
        RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
        APP_ID: "org.gnome.GtkSourceView.TestWidget"
    extends: ".flatpak"

reference:
    image: $FEDORA_IMAGE
    stage: docs
    needs: []
    variables:
        MESON_FLAGS: "-Dwerror=true --buildtype=release"
    script:
        - sudo dnf update -y --nogpgcheck
        - sudo dnf install -y --nogpgcheck $FEDORA_DEPS
        - mkdir -p pfx/
        - meson ${MESON_FLAGS} --prefix=${PWD}/pfx -Dgtk_doc=true _build
        - ninja -C _build install
        - mkdir -p _reference/
        - mv pfx/share/doc/gtksourceview5/ _reference/
    artifacts:
        paths:
            - _reference

pages:
    stage: deploy
    needs: ['reference']
    script:
        - mv _reference public/
    artifacts:
        paths:
            - public
    only:
        - master
