#testID[lang|="zh"] {
    font: 12px italic "Overpass";
}

p + div {
    color:aqua;
    float: left!important;
}

.someclass,
.otherclass {
    font-size: 20px;
    opacity: .5;
}

#headline:after {
    transform: scaleX(-1.75) rotate(+33.333e+3deg);
}

ul::before {}

link:hover {}

INPUT::PLACEHOLDER {
    COLOR: REBECCAPURPLE;
}

@import URL("fineprint.css");

@media all {
    * ~ ul {
        background-image: linear-gradient(to left top, #fff, blue);
        padding: 10VW;
    }
    @media screen and (orientation: portrait) {
        .heading > .news {
            background-image: url(image.png);
        }
        .grid {
            grid-template-columns: repeat(2, minmax(max-content, 300px) 1fr) 100px;
        }
    }
    @media print and (min-monochrome: 16) {
        body {
            background-color: #FFFFFF;
            border-color: currentColor;
            color: #000;
        }
    }
    @media screen {} @media print {}
}

@media (min-resolution: +2.54dpcm) {}

@media (min-aspect-ratio: 16/9) {}
